@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-[#0B0F14] text-gray-900 dark:text-gray-100 transition-colors duration-200;
}

html {
  scroll-behavior: smooth;
}
